    <div class="search-bar">
      <mat-form-field appearance="outline" class="search-field">
        <mat-label>Suche Aufgaben</mat-label>
        <input matInput 
        placeholder="Titel oder Beschreibung eingeben..." 
        (input)="onSearchInput($event)" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="number">
        <mat-label>Debug Debounce Timer</mat-label>
        <input matInput 
        placeholder="300" 
        (input)="onTimerInput($event)" />
      </mat-form-field>

    </div>