    <div class="card neue-aufgabe-card">
      <div class="card-header">
        <h3>Neue Aufgabe erstellen</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <mat-form-field appearance="outline" class="flex-2">
            <mat-label>Titel</mat-label>
            <input matInput formControlName="titel" placeholder="z.B. ToDo App in Angular erstellen" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Beschreibung</mat-label>
            <textarea matInput rows="3" formControlName="beschreibung"></textarea>
          </mat-form-field>

          <div class="form-row">
            <mat-form-field appearance="outline" class="flex-1">
              <mat-label>Priorität</mat-label>
              <mat-select formControlName="priority">
                <mat-option value="niedrig">Niedrig</mat-option>
                <mat-option value="mittel">Mittel</mat-option>
                <mat-option value="hoch">Hoch</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="flex-1">
              <mat-label>Enddatum</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="endeAm" />
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="form-actions">
            <button type="submit" mat-raised-button color="primary">Aufgabe hinzufügen</button>
          </div>
        </form>
      </div>
    </div>
